/* reset.css */
html, body, div, span, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, code, del, dfn, em, q, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td {margin:0;padding:0;border:0;font-weight:inherit;font-style:inherit;font-size:100%;font-family:inherit;vertical-align:baseline;}
body {line-height:1.5;
}
table {border-collapse:separate;border-spacing:0;}
caption, th, td {text-align:left;font-weight:normal;}
table, td, th {vertical-align:middle;}
blockquote:before, blockquote:after, q:before, q:after {content:"";}
blockquote, q {quotes:"" "";}
a img {border:none;}

/* typography.css */
body {font-size:13px;color:#333;background:#fff;style="font-family: 'Helvetica Neue', Helvetica, Arial, 'Nimbus Sans L', sans-serif;" line-height:1.8em;}
h1, h2, h3, h4, h5, h6 {font-weight:normal;color:#111;}
h1 {font-size:2.8em;line-height:1;margin:1em 0; letter-spacing:-2px; }
.red {color:#fff;background-color:#c80000;}
h1 .red {padding:0 12px;margin:0;font-family: Georgia, "Times New Roman", Times, serif;font-style:italic;font-weight:lighter;}
h2 {font-size:4.5em;line-height:1;margin:.4em 0;}
h3 {font-size:2.5em;line-height:1;margin:.4em 0;}
h4, .contentheading, .componentheading {font-size:2.0em;line-height:1;margin:.4em 0;}
h5 {font-size:1.5em;line-height:1;margin:.4em 0;}
h6, .sub h3 {font-size:1.0em;line-height:1;margin:.4em 0; font-weight: bold;}
h1 img, h2 img, h3 img, h4 img, h5 img, h6 img {margin:0;}
p {margin:0 0 1.5em;}
p img.left {float:left;margin:1.5em 1.5em 1.5em 0;padding:0;}
p img.right {float:right;margin:1.5em 0 1.5em 1.5em;}
a:hover {color:#000;}
a {color:#c80000;text-decoration:underline;}
blockquote {margin:1.5em;color:#666;font-style:italic;}
strong {font-weight:bold;}
em, dfn {font-style:italic;}
dfn {font-weight:bold;}
sup, sub {line-height:0;}
abbr, acronym {border-bottom:1px dotted #666;}
address {margin:0 0 1.5em;font-style:italic;}
del {color:#666;}
pre {margin:1.5em 0;white-space:pre;}
pre, code, tt {font:1em 'andale mono', 'lucida console', monospace;line-height:1.5;}
li ul, li ol {margin:0 1.5em;}
ul, ol {margin:0 1.5em 1.5em 1.5em;}
ul {list-style-type:disc;}
ol {list-style-type:decimal;}
dl {margin:0 0 1.5em 0;}
dl dt {font-weight:bold;}
dd {margin-left:1.5em;}
table {margin-bottom:1.4em;width:100%;}
th {font-weight:bold;}
thead th {background:#c3d9ff;}
th, td, caption {padding:4px 10px 4px 5px;}
tr.even td {background:#e5ecf9;}
tfoot {font-style:italic;}
caption {background:#eee;}
.small {font-size:.8em;margin-bottom:1.875em;line-height:1.875em;}
.large {font-size:1.2em;line-height:2.5em;margin-bottom:1.25em;}
.hide {display:none;}
.quiet {color:#666;}
.loud {color:#000;}
.highlight {background:#ff0;}
.added {background:#060;color:#fff;}
.removed {background:#900;color:#fff;}
.first {margin-left:0;padding-left:0;}
.last {margin-right:0;padding-right:0;}
.top {margin-top:0;padding-top:0;}
.bottom {margin-bottom:0;padding-bottom:0;}

/* grid.css */
.container {width:950px;margin:0 auto;}
.column, div.span-1, div.span-2, div.span-3, div.span-4, div.span-5, div.span-6, div.span-7, div.span-8, div.span-9, div.span-10, div.span-11, div.span-12, div.span-13, div.span-14, div.span-15, div.span-16, div.span-17, div.span-18, div.span-19, div.span-20, div.span-21, div.span-22, div.span-23, div.span-24 {float:left;margin-right:10px;}
.last, div.last {margin-right:0;}
.span-1 {width:30px;}
.span-2 {width:70px;}
.span-3 {width:110px;}
.span-4 {width:150px;}
.span-5 {width:190px;}
.span-6 {width:220px; margin: 0px; padding:0; border:thin #000000 solid;}
.span-7 {width:270px;}
.span-8 {width:310px;}
.span-9 {width:350px;}
.span-10 {width:390px;}
.span-11 {width:430px;}
.span-12 {width:470px;}
.span-13 {width:510px;}
.span-14 {width:550px;}
.span-15 {width:590px;}
.span-16 {width:630px;}
.span-17 {width:670px;}
.span-18 {width:710px;}
.span-19 {width:750px;}
.span-20 {width:790px;}
.span-21 {width:830px;}
.span-22 {width:870px;}
.span-23 {width:910px;}
.append-1 {padding-right:40px;}
div.border {padding-right:4px;margin-right:5px;border-right:1px solid #ddd;}
div.colborder {padding-right:24px;margin-right:25px;border-right:1px solid #ddd;}
.prepend-top {margin-top:1.5em;}
.append-bottom {margin-bottom:1.5em;}
.box {padding:1.5em;margin-bottom:1.5em;background:#E5ECF9;}
hr {background:#ddd;color:#ddd;clear:both;float:none;width:100%;height:.1em;margin:0;border:none;}
hr.space {background:#fff;color:#fff;}
.clearfix:after, .container:after {content:"\0020";display:block;height:0;clear:both;visibility:hidden;overflow:hidden;}
.clearfix, .container {display:block;}
.clear {clear:both;}

/* forms.css */
label {font-weight:bold;}
fieldset {padding:1.4em;margin:0 0 1.5em 0;border:1px solid #ccc;}
legend {font-weight:bold;font-size:1.2em;}
input.text, input.title, textarea, select {margin:0.5em 0;border:1px solid #bbb;}
input.text:focus, input.title:focus, textarea:focus, select:focus {border:1px solid #666;}
input.text, input.title {width:300px;padding:5px;}
input.title {font-size:1.5em;}
textarea {width:390px;height:250px;padding:5px;}
.error, .notice, .success {padding:.8em;margin-bottom:1em;border:2px solid #ddd;}
.error {background:#FBE3E4;color:#8a1f11;border-color:#FBC2C4;}
.notice {background:#FFF6BF;color:#514721;border-color:#FFD324;}
.success {background:#E6EFC2;color:#264409;border-color:#C6D880;}
.error a {color:#8a1f11;}
.notice a {color:#514721;}
.success a {color:#264409;}

/* custom css classes */
.topmenu {
float:right;
width:auto;
margin:30px 0 30px 0;
}

.topmenu ul, .topmenu ul li {
float:left;
list-style:none;
padding:0;
margin:0;
}

img {
border:0;
margin:0;
padding:0;
}

.topmenu ul li a:link, .topmenu ul li a:visited{
text-decoration:none;
color:#000;
}

blockquote {
font-family: Times;
font-size:1.4em;
line-height:2em;
padding:0;
margin:0;
color:#777;
}


.topmenu ul li a span {
padding:15px 10px 15px 10px;
font-size: 11px;
font-family:"Helvetica Neue", Arial, Helvetica, sans-serif;
line-height:1.8em;
}

.topmenu ul li a:hover, .topmenu ul li#current a {
color:#fff;
}

.topmenu ul li a:link span, .topmenu ul li a:visited span, .topmenu ul li a:hover span {
padding:12px;
height:24px;
line-height:24px;
display:block;
}

.topmenu ul li#current {
background-image:url(../images/active_left.gif);
background-repeat:no-repeat;
background-position:left;
}

.topmenu ul li#current span {
background-image:url(../images/active_right.gif);
background-repeat:no-repeat;
background-position:right;
}

.top {
background-color:#4bc8f4;
color:#fff;
text-align:right;
background-image:url(../images/topbk.jpg);
background-repeat: repeat-x;
}

.header {
border-top:0px solid #333;
float:left;
width:100%;
}

.main {
float:left;
width:100%;
background-color: #fff;
padding:20px 0;
background-image:url(../images/mainbck.jpg);
background-repeat: repeat-x;
background-position: top;
}

.credits {
color:#ccc;
font-size:.9em;
float:left;
width:100%;
text-align:center;
background-image:url(../images/topbk.jpg);
background-repeat: repeat-x;
background-position: top;
border-top:1px solid #222;
}


.sub {
float:left;
width:100%;
height: 50px;
border-top:1px solid #ccc;
padding: 0px;
background-color: #fff;
}

h1, h3, h5 {
color:#111;
}

h2, h4, h6 {
color:#333;
}

a {
color:#9bb801;
}

.contentheading {
border-bottom:1px solid #ddd;
}

#BottomRapidLinks {
	width: 950px;
	height: 20px;
	position: fixed;
	bottom:0px;
}


